# Copy to .env in this folder and fill in.
SRC_DB_HOST=localhost
SRC_DB_PORT=5432
SRC_DB_NAME=ride_prod
SRC_DB_USER=postgres
SRC_DB_PASSWORD=

LAKE_DB_HOST=localhost
LAKE_DB_PORT=5432
LAKE_DB_NAME=ride_lakehouse
LAKE_DB_USER=postgres
LAKE_DB_PASSWORD=
